:root{
    --complimentary-color:#ffffff; 
    --main-color:#2d545e;
}
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@media screen and (max-width: 600px) {
    /* For mobile phones: */
    .restart{
        font-size: 15px;
    }
    
    button{
        font-size: 15px;
    }
    
  }

body{
    font-family: 'Silkscreen', cursive;
    background-color: var(--main-color);
    margin: 0%;
    width: 100%;
    color: var(--complimentary-color);
    
}
.header{
    display: grid;
    column-span: 1/6;
    text-align: center;
    padding: 2%;
    font-size: min(32px, 45px);
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 45vh;
    padding: 0 ;
}
.sidebar{
    text-align: center;
    padding: 5%;
    border-radius: 1vw;
    height: 100%;
}

.username{
   
    width: 80%;
    border-radius: 10vh;
    padding: 2%;
    text-align: center;
    margin-bottom: 5%;
    border: 0;
}
.game-board{
    display: grid;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-rows: repeat(3,15vh);
    grid-template-columns: repeat(3,10vw);
    justify-items: center;
    align-items: center;
}
.box{
    
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    text-align: center;
    justify-items: center;
    align-content: center;
    font-size: 7vw;
    color: #ffffff;
}
.resultOne, .resultTwo{
    font-size: 4vw;
    color: #ffffff;
}
.player, .bot {
    padding: 1vh;
    margin: 1vh;
}
.score{
    margin-top: 5vh;
    display: grid;
}
[class = "box 1"],[class = "box 2"],[class = "box 3"]{
    border-top: 0;
}
[class = "box 1"],[class = "box 4"],[class = "box 7"]{
    border-left: 0;
}
[class = "box 3"],[class = "box 6"],[class = "box 9"]{
    border-right: 0;
}
[class = "box 7"],[class = "box 8"],[class = "box 9"]{
    border-bottom: 0;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    column-span: 1/6;
    height: 5vh;
    margin: 0;
    text-align: center;
    padding-bottom: 2%;
    grid-template-columns:1fr;
    justify-items: center;
    align-content: center;
    font-size: min(32px, 45px);
}

.restart{
    width: 10%;
    justify-content: center;
    text-align: center;
    font-size: 1vw
}

button{

font-weight: 0;
color: #ffffff;
background-color: #000000;
font-size: 1vw;
padding: 10px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 26px;
transition : 1000ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
text-transform: lowercase;
text-align: center;
}

button:hover{

background-color: #fff;
color: #000000;
border: solid 2px #000000;
}

.submit{
    width: 60%;
    
}