@media only screen and (max-width: 600px) {
    /* For mobile phones: */
   
  }
:root{
    --complimentary-color:#ffffff; 
}
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    font-family: 'Silkscreen', cursive;
    display: grid;
    background-color: #2d545e;
    margin: 0%;
    width: 100%;
    
}
.header{
    display: grid;
    column-span: 1/6;
    text-align: center;
    background-color: var(--complimentary-color);
    padding: 2%;
    font-size: min(32px, 45px);
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 45vh;
    padding: 0 10vh 10vh;
}
.sidebar{
    background-color: var(--complimentary-color);
    text-align: center;
    padding: 5%;
    margin: 5%;
    min-height: 80%;
}
.username{
   
    width: 80%;
    border-radius: 10vh;
    padding: 2%;
    text-align: center;
    margin-bottom: 5%;
}
.game-board{
    display: grid;
    padding: 5vh;
    grid-template-columns: repeat(3,1fr);
    
}
.board{
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-rows: repeat(3,15vh);
    grid-template-columns: repeat(3,15vh);
    justify-content: center;
    align-items: center;
}
.box{
    
    height: 15vh;
    width: 15vh;
    border: 1px solid #000000;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 15vh;
    color: #ffffff;
}
.result{
    padding: 5vh;
    font-size: 7vh;
    color: #ffffff;
}
.player, .bot {
    padding: 1vh;
    margin: 1vh;
}
.score{
    margin-top: 5vh;
    display: grid;
}
[class = "box 1"],[class = "box 2"],[class = "box 3"]{
    border-top: 0;
}
[class = "box 1"],[class = "box 4"],[class = "box 7"]{
    border-left: 0;
}
[class = "box 3"],[class = "box 6"],[class = "box 9"]{
    border-right: 0;
}
[class = "box 7"],[class = "box 8"],[class = "box 9"]{
    border-bottom: 0;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: grid;
    column-span: 1/6;
    height: 5vh;
    margin: 0;
    text-align: center;
    background-color: var(--complimentary-color);
    padding: 2%;
    grid-template-columns:1fr;
    justify-items: center;
    align-content: center;
    font-size: min(32px, 45px);
}

.restart{
    width: 10%;
    justify-content: center;
    text-align: center;
}

button{

font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #000000;
padding: 10px 30px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 26px;
transition : 1000ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

button:hover{

background-color: #fff;
color: #000000;
border: solid 2px #000000;
}

.submit{
    width: 60%;
    font-size: 100%;
    text-align: center;
}